# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Python
*.pyc
__pycache__/
.Python

# VSCode
.vscode/

# Virtual Environment
venv/

# Environment variables
.env

# Config files
config/settings.py
config.py

# Logs
*.log

# Temp files
*.tmp

# Data files
data/
model
archive-py
